@charset "utf-8";

.progress_wrap {
    width: 90%;
    margin: 0 auto;
    border-radius: 13px;
    height: 24px;
    border: 1px solid #3498db;
    position: relative;
}

.bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #3498db;
    border-radius: 12px;
    height: 24px;
}

.progress_wrap span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    line-height: 24px;
}