@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: linear-gradient(45deg, #13243F, #95B2DA);
}

/* main */
main {
    position: relative;
    width: calc(min(90rem, 90%));
    margin: 0 auto;
    min-height: 100vh;
    column-gap: 3rem;
    padding-block: min(20vh, 3rem);
}

/* img */
.bg {
    width: 50rem;
    height: 50rem;
    position: fixed;
    top: -13rem;
    left: -10rem;
    z-index: -1;
    opacity: 0;
}

.bg2 {
    width: 37rem;
    height: 30rem;
    position: fixed;
    bottom: 0rem;
    right: 0rem;
    z-index: -1;
    opacity: 0;
}

/* title */
main > div span {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    color: #f1f1f1;
}

main > div > h1 {
    text-transform: capitalize;
    letter-spacing: 0.8px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
    background-color: #fff;
    background-image: linear-gradient(45deg, #8fa7bb, #ffffff);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

main > div hr {
    display: block;
    background-color: #f1f1f1;
    height: 0.25rem;
    width: 6.25rem;
    border: none;
    margin: 1.125rem 0 1.875rem 0;
}

main > div p {
    line-height: 1.6;
    color: #f1f1f1;
}

main a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    font-weight: 500;
    background-color: #fff;
    border-radius: 3.125rem;
    transition: 0.3s ease-in-out;
}

main > div > a {
    border: 2px solid #8fa7bb;
    margin-top: 2.188rem;
    padding: 0.625rem 1.875rem;
    transition: all 1s;
}

main > div > a:hover {
    border: 0.125rem solid #005baa;
    color: #005baa;
    border-radius: 0;
}

/* swiper */
.swiper {
    width: 100%;
    padding-top: 3.125rem;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background-color: #fff;
}

/* swiper : Add Pagination */
.swiper-pagination {
    bottom: 1.25rem !important; /* 최우선으로 사용 */
}

/* swiper : swiper-wrapper : slide all */
.swiper-slide {
    width: 18.75rem;
    height: 28.125rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
}

.swiper-slide h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 0.625rem;
    padding: 0 0 0 1.563rem;
    text-transform: uppercase;
}

.swiper-slide p {
    color: #dadada;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding: 0 1.563rem;
    line-height: 1.6;
    font-size: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.swiper-slide a {
    margin: 1.25rem 1.563rem 3.438rem 1.563rem;
    padding: 0.438em 1.875rem;
    font-size: 0.9rem;
    transition: all 1s;
}

.swiper-slide a:hover {
    color: #005baa;
    border-radius: 0;
}

.swiper-slide div {
    display: none;
    opacity: 0;
    padding-bottom: 0.625rem;
}

.swiper-slide-active div {
    display: block;
    opacity: 1;
}

/* swiper : swiper-wrapper : slide1 */
.swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("../img/img1.jpg") no-repeat 50% 50%/cover;
}

/* swiper : swiper-wrapper : slide2 */
.swiper-slide--two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("../img/img2.jpg") no-repeat 50% 50%/cover;
}
 
/* swiper : swiper-wrapper : slide3 */
.swiper-slide--three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("../img/img3.jpg") no-repeat 50% 50%/cover;
}

/* swiper : swiper-wrapper : slide4 */
.swiper-slide--four {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("../img/img4.jpg") no-repeat 50% 50%/cover;
}

/* swiper : swiper-wrapper : slide5 */
.swiper-slide--five {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("../img/img5.jpg") no-repeat 50% 50%/cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

@media screen and (min-width: 48rem) {
    main {
        display: flex;
        align-items: center;
    }
    
    .bg, .bg2 {
        opacity: 0.1;
    }
}

@media screen and (min-width: 93.75rem) {
    .swiper {
        width: 85%;
    }
}