@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
}

/* container 영역 */
.container {
    position: relative;
    display: flex;
    flex-direction: row;
}

/* card 영역 */
.container .card {
    position: relative;
    width: 320px;
    height: 450px;
    background-color: #333;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 30px;
}

.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    content: 'iPone';
    position: absolute;
    top: 50%;
    left: -5%;
    font-size: 8em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.05);
}

/* imgbx 영역 */
.container .card .imgbx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgbx {
    top: 0;
    transform: translateY(0%);
}

.container .card .imgbx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 180px;
}

/* content 영역 */
.container .card .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .content {
    height: 210px;
}

.container .card .content h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
}

/* content - size, color 영역 */
.container .card .content .size,
.container .card .content .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.container .card:hover .content .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card:hover .content .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

/* content - size, color - h3 영역 */
.container .card .content .size h3,
.container .card .content .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 10px;
}

/* content - size, color - span 영역 */
.container .card .content .size span {
    width: 32px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background-color: #fff;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .content .size span:hover {
    background-color: #fef493;
}

.container .card .content .color span {
    width: 20px;
    height: 20px;
    background-color: #fef493;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .content .color span:nth-child(2) {
    background-color: #fff38f;
}

.container .card .content .color span:nth-child(3) {
    background-color: #aabbcd;
}

.container .card .content .color span:nth-child(4) {
    background-color: #e5ddea;
}

/* content - size, color - a 영역 */
.container .card .content a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
}

.container .card:hover .content a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

/* card 2 */
.container .card2 {
    position: relative;
    width: 320px;
    height: 450px;
    background-color: #333;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 30px;
}

.container .card2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fef493;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card2:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card2:after {
    content: 'Mac';
    position: absolute;
    top: 50%;
    left: -5%;
    font-size: 8em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.05);
}

/* imgbx 영역 */
.container .card2 .imgbx2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card2:hover .imgbx2 {
    top: 0;
    transform: translateY(0%);
}

.container .card2 .imgbx2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 230px;
}

/* content 영역 */
.container .card2 .content2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card2:hover .content2 {
    height: 210px;
}

.container .card2 .content2 h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
}

/* content - size, color 영역 */
.container .card2 .content2 .size2,
.container .card2 .content2 .color2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.container .card2:hover .content2 .size2 {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card2:hover .content2 .color2 {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

/* content - size, color - h3 영역 */
.container .card2 .content2 .size2 h3,
.container .card2 .content2 .color2 h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 10px;
}

/* content - size, color - span 영역 */
.container .card2 .content2 .size2 span {
    width: 46px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background-color: #fff;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
}

.container .card2 .content2 .size2 span:hover {
    background-color: #fef493;
}

.container .card2 .content2 .color2 span {
    width: 20px;
    height: 20px;
    background-color: #fef493;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card2 .content2 .color2 span:nth-child(2) {
    background-color: #a3beb4;
}

.container .card2 .content2 .color2 span:nth-child(3) {
    background-color: #edb9af;
}

.container .card2 .content2 .color2 span:nth-child(4) {
    background-color: #e9aa95;
}

/* content - size, color - a 영역 */
.container .card2 .content2 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
}

.container .card2:hover .content2 a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

/* card 3 */
.container .card3 {
    position: relative;
    width: 320px;
    height: 450px;
    background-color: #333;
    border-radius: 20px;
    overflow: hidden;
}

.container .card3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6480a3;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card3:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card3:after {
    content: 'iPad';
    position: absolute;
    top: 50%;
    left: -5%;
    font-size: 8em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.05);
}

/* imgbx 영역 */
.container .card3 .imgbx3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card3:hover .imgbx3 {
    top: 0;
    transform: translateY(0%);
}

.container .card3 .imgbx3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 170px;
}

/* content 영역 */
.container .card3 .content3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card3:hover .content3 {
    height: 210px;
}

.container .card3 .content3 h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
}

/* content - size, color 영역 */
.container .card3 .content3 .size3,
.container .card3 .content3 .color3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.container .card3:hover .content3 .size3 {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card3:hover .content3 .color3 {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

/* content - size, color - h3 영역 */
.container .card3 .content3 .size3 h3,
.container .card3 .content3 .color3 h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 10px;
}

/* content - size, color - span 영역 */
.container .card3 .content3 .size3 span {
    width: 46px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background-color: #fff;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
}

.container .card3 .content3 .size3 span:hover {
    background-color: #fef493;
}

.container .card3 .content3 .color3 span {
    width: 20px;
    height: 20px;
    background-color: #fef493;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card3 .content3 .color3 span:nth-child(2) {
    background-color: #f0d95b;
}

.container .card3 .content3 .color3 span:nth-child(3) {
    background-color: #de6274;
}

.container .card3 .content3 .color3 span:nth-child(4) {
    background-color: #e3e4e5;
}

/* content - size, color - a 영역 */
.container .card3 .content3 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
}

.container .card3:hover .content3 a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}