@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-image: url('img/hollween.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

svg {
    width: 30%;
    animation: rotate infinite linear;
    mix-blend-mode: multiply;
    margin: 0 -8%;
    background-image: url('img/wing.png');
    background-size: 20%;
    background-repeat: no-repeat;

}

svg:nth-child(1) {
    fill: #FFB84C;
    animation-duration: 4s;
}

svg:nth-child(2) {
    fill: #F266AB;
    animation-duration: 2s;
    animation-direction: reverse;
}

svg:nth-child(3) {
    fill: #A459D1;
    animation-duration: 6s;
}

svg:nth-child(4) {
    fill: #2CD3E1;
    animation-duration: 3s;
    animation-direction: reverse;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

h1 {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-family: 'Fontdiner Swanky', cursive;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    letter-spacing: .3em;
    font-size: 6vw;
    animation: text 1s infinite;
    mix-blend-mode: screen;
}

@keyframes text {
    0% {
        text-shadow: 5px 0px 0px #FFB84C;
    }

    10% {
        text-shadow: -5px -5px 0px #F266AB;
    }

    20% {
        text-shadow: 5px 0px 0px #A459D1;
    }

    30% {
        text-shadow: 5px 0px 0px #2CD3E1;
    }

    40% {
        text-shadow: 5px 5px 0px #FFB84C;
    }

    50% {
        text-shadow: 0px -5px 0px #F266AB;
    }

    60% {
        text-shadow: 0px 5px 0px #A459D1;
    }

    70% {
        text-shadow: 5px 0px 0px #2CD3E1;
    }

    80% {
        text-shadow: 5px -10px 0px #FFB84C;
    }

    90% {
        text-shadow: 5px 5px 0px #F266AB;
    }

    100% {
        text-shadow: 5px 0px 0px #A459D1;
    }
}