@charset "utf-8";

* { margin: 0; padding: 0; }

li { list-style: none; }

.container {
    width: 700px;
    margin: 0 auto;
}

.slide_wrapper {
    position: relative;
    width: 660px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 200px;
}

.slides {
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
}

.slides.animated {
    transition: 0.5s ease-out;
}

.slides li {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    float: left;
}

.slides li:not(:last-child) {
    margin-right: 30px;
}

.controls {
    text-align: center;
    margin-top: 50px;
}

.controls span {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    display: inline-block;
}

.controls span:hover {
    opacity: 0.8;
    transition: 0.5s;
}

@media (max-width: 700px) {
    .container {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .slide_wrapper {
        width: 100%;
    }
}