@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nanum+Pen+Script&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lilita One', cursive;
    font-weight: 500;
    background-color: #FFF6F4;
    color: #FFC727;

}

/* hide scrollbar */
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
}

/* external */
.external {
    overflow: hidden;
    height: 100vh;
    background-image: url('img/scroll-gallery-bg.png');
    background-size: 80% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

/* horizontal-scroll-wrapper */
.horizontal-scroll-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100vh;
    -webkit-transform: rotate(-90deg) translate3d(0, -100vh, 0);
    transform: rotate(-90deg) translate3d(0, -100vh, 0);
    -webkit-transform-origin: right top;
    transform-origin: right top;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    height: 100vw;
    -webkit-perspective: 1px;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    padding-bottom: 10rem;
}

/* img-wrapper */
.img-wrapper {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 40vh;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(90deg) translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
    transform: rotate(90deg) translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
    -webkit-transition: 1s;
    transition: 1s;
}

.img-wrapper:hover {
    min-height: 65vh;
}

/* img-wrapper - slower */
.slower {
    -webkit-transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
}

/* img-wrapper - slower1 */
.slower1 {
    -webkit-transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
    transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
}

/* img-wrapper - slower1 */
.slower1 {
    -webkit-transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
    transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
}

/* img-wrapper - slower2 */
.slower2 {
    -webkit-transform: rotate(90deg) translateZ(-.3px) scale(1.3) translateX(0%) translateY(2vh);
    transform: rotate(90deg) translateZ(-.3px) scale(1.3) translateX(0%) translateY(2vh);
}

/* img-wrapper - slower-down */
.slower-down {
    -webkit-transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(16vh);
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(16vh);
}

/* img-wrapper - faster */
.faster {
    -webkit-transform: rotate(90deg) translateZ(.15px) scale(0.8) translateX(0%) translateY(14vh);
    transform: rotate(90deg) translateZ(.15px) scale(0.8) translateX(0%) translateY(14vh);
}

/* img-wrapper - faster1 */
.faster1 {
    -webkit-transform: rotate(90deg) translateZ(.05px) scale(0.8) translateX(0%) translateY(10vh);
    transform: rotate(90deg) translateZ(.05px) scale(0.8) translateX(0%) translateY(10vh);
}

/* img-wrapper - fastest */
.fastest {
    -webkit-transform: rotate(90deg) translateZ(.22px) scale(0.7) translateX(-10vh) translateY(-15vh);
    transform: rotate(90deg) translateZ(.22px) scale(0.7) translateX(-10vh) translateY(-15vh);
}

/* img-wrapper - vertical */
.vertical {
    -webkit-transform: rotate(90deg) translateZ(-.15px) scale(1.15) translateX(0%) translateY(0%);
    transform: rotate(90deg) translateZ(-.15px) scale(1.15) translateX(0%) translateY(0%);
}

/* img-wrapper - last */
.last {
    -webkit-transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(25vh) translateY(-8vh);
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(25vh) translateY(-8vh);
}

.img-wrapper a {
    text-decoration: none;
    color: #333;
    text-align: center;
}

.img-wrapper a>p {
    padding: 1rem 0;
    font-family: 'Nanum Pen Script', cursive;
}

/* scroll-info */
.scroll-info,
header {
    position: absolute;
    left: 1rem;
}

header {
    bottom: 1rem;
}

.scroll-info {
    top: 1rem;
}

a {
    color: inherit;
    font-weight: 500;
}

h1 {
    font-weight: 300;
    font-size: 1rem;
}

.img-wrapper a {
    overflow: hidden;
    display: block;
    padding: 1vh 1vh 0vh 1vh;
    background-color: #fff;
    box-shadow: 0 10px 50px rgba(99, 50, 13, 0.4);
}

img {
    max-width: 45vh;
    max-height: 50vh;
    -webkit-transition: .5s;
    transition: .5s;
    vertical-align: top;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

a:hover img {
    -webkit-filter: none;
    filter: none;
}

p {
    margin: 0;
    font-size: 2rem;
}

.scroll-info {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.icon svg {
    width: 36px;
    fill: currentColor;
    margin-right: 1rem;
}