@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url('img/children.jpg');
    background-size: cover;
    -webkit-font-smooyhing: antialiased;
    display: flex;
    justify-content: center;
    /* 가로 정렬 */
    align-items: center;
    /* 세로 정렬 */
}

h1 {
    height: 100px;
}

h1 span {
    position: relative;
    top: -80px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-family: 'Titan One', cursive;
    font-size: 100px;
    color: #fff;
    text-shadow:
        0 1px 0 #ccc,
        0 2px 0 #ccc,
        0 3px 0 #ccc,
        0 4px 0 #ccc,
        0 5px 0 #ccc,
        0 6px 0 transparent,
        0 7px 0 transparent,
        0 8px 0 transparent,
        0 9px 0 transparent,
        0 10px 10px rgba(0, 0, 0, .4);
}

img {
    width: 100px;
    height: 180px;
    padding: 0;
    margin: 0;

}

h1 span:nth-child(1) {
    color: #81DFE2;
}

h1 span:nth-child(2) {
    color: #A0A0E2;
    animation-delay: .1s;
}

h1 span:nth-child(3) {
    color: #F6A526;
    animation-delay: .2s;
}

h1 span:nth-child(4) {
    color: #B9AD00;
    animation-delay: .3s;
}

h1 span:nth-child(5) {
    color: #F06622;
    animation-delay: .4s;
}

h1 span:nth-child(6) {
    color: #81DFE2;
    animation-delay: .5s;
}

h1 span:nth-child(7) {
    color: #A0A0E2;
    animation-delay: .6s;
}

h1 span:nth-child(8) {
    color: #B9AD00;
    animation-delay: .7s;
}

h1 span:nth-child(9) {
    color: #F06622;
    animation-delay: .8s;
}

h1 span:nth-child(10) {
    color: #FCCF5E;
}

h1 span:nth-child(11) {
    color: #FCCF5E;
}

@keyframes bounce {
    100% {
        top: -120px;
        text-shadow:
            0 1px 0 #ccc,
            0 2px 0 #ccc,
            0 3px 0 #ccc,
            0 4px 0 #ccc,
            0 5px 0 #ccc,
            0 6px 0 #ccc,
            0 7px 0 #ccc,
            0 8px 0 #ccc,
            0 9px 0 #ccc,
            0 50px 25px rgba(0, 0, 0, .1);
    }
}