@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:700');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background: url('img/cosmos.jpg') center center/cover;
}

h1 {
    color: white;
    font-size: 15vmin;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding-left: 40px;
}

.blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: #023f92;
    width: 50vmax;
    z-index: -1;
    animation: move 10s infinite ease-in-out;
    transform-origin: 50% 50%;
}

@keyframes move {
    0% {
        transform: scale(0.2) translate(50px, -100px);
    }

    38% {
        transform: scale(0.8, 1) translate(80vw, 30vh) rotate(360deg);
    }

    40% {
        transform: scale(0.8, 1) translate(80vw, 30vh) rotate(360deg);
    }

    78% {
        transform: scale(1.4) translate(0vw, 50vh) rotate(-20deg);
    }

    80% {
        transform: scale(1.4) translate(0vw, 50vh) rotate(-20deg);
    }

    100% {
        transform: scale(1) translate(10px, -30px);
    }
}