@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,500,900);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

body {
    background-color: #F0ECCF;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #FFB100;
}

#wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* frame */
.frame {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 400px;
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

/* frame 내부 전체 선택 */
.frame * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

/* frame : img */
.frame img {
    opacity: 1;
    width: 100%;
}

/* effect */
.frame:after,
.frame:before,
.frame figcaption:after,
.frame figcaption:before {
    background-color: #FFB100;
    width: 25%;
    position: absolute;
    content: '';
    opacity: 0;
    -webkit-transition: all 0.3s steps(4);
    transition: all 0.3s steps(4);
    z-index: 1;
    top: 100%;
    bottom: 0;
}

.frame:before {
    left: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0;
}

.frame:after {
    left: 25%;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.frame figcaption:before {
    left: 50%;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    z-index: -1;
}

.frame figcaption:after {
    left: 75%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    z-index: -1;
}

/* frame : text */
.frame figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #333;
}

.frame h2,
.frame p,
.frame .icons {
    margin: 0;
    width: 100%;
    opacity: 0;
}

.frame h2 {
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.frame p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

/* frame : text : icons */
.frame .icons {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
}

.frame i {
    padding: 0px 25px;
    display: inline-block;
    font-size: 42px;
    color: #fff;
    text-align: center;
    opacity: 0.8;
}

.frame i:hover {
    opacity: 1;
}

.frame:hover:after,
.frame:hover:before,
.frame:hover figcaption:after,
.frame:hover figcaption:before {
    top: 0;
    opacity: 0.8;
}

.frame:hover figcaption h2,
.frame:hover figcaption p,
.frame:hover figcaption .icons {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.frame:hover figcaption h2,
.frame:hover figcaption .icons {
    opacity: 1;
}

.frame:hover figcaption p {
    opacity: 0.7;
}